:root {
    /* Azuis Principais */
    --primary-blue-deep: #00095B;
    --primary-blue-dark: #00142E;
  
    /* Azul de Destaque (Accent) */
    --accent-blue: #303F9F;
  
    /* Cores Neutras */
    --light-background: #F1EEE6;
    --dark-text: #090F15;
  }

footer {
    width: 100%;
    background: var(--primary-blue-deep);
    padding: 1rem 0;
}

footer .container_footer {
    display: flex;
    align-items: center;
    max-width: 75rem;    
    margin: 0 0;   
    gap: 0.225rem;
    padding: 2rem 0;
    padding-left: 1rem;
    justify-content: space-between;
}

footer .social_media {
    display: flex;
    justify-content: space-between;
}

footer .container_footer p{
    color: var(--light-background); 
    font-weight: 600;
}

footer img {
    width: 2rem;
}

